<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tumblr Backup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="css/element.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
</head>

<body>
  <div id="app">
    <div 
      style="line-height: 100vh; text-align: center"
      v-if="false">Loading...<br /></div>
    <el-button
      type="text"
      style="position: fixed;
      z-index: 3;
      font-size: 20px;
      padding: 0 10px;
      line-height: 38px;
      right: 0;"
      icon="el-icon-star-off"
      @click="showDonate = true"
    ></el-button>
    <el-tabs v-model="activeTab" :class="['active-' + activeTab]">
      <el-tab-pane label="我的收藏" name="favouriteDownload">
        <div class="not-login" v-if="!user.name">
          <div>你还没有连接 Tumblr 账号，没法显示自己的收藏哦。</div>
          <el-button
            class="tumblr-login-button"
            type="primary"
            @click="activeTab = 'settings'"
            :disabled="!!user.name"
            >
            Login With Tumblr
          </el-button>
        </div>
        <div>
          <div
            style="min-height: 400px;
            text-align: center;
            margin-top: 5px;
            font-size: 0;
            padding-bottom: 70px;" v-loading.fullscreen.lock="favouriteDownload.gettingFavouriteDownloadImages">

            <div
              v-for="img in favouriteDownload.favouriteImages" class="userDownloadPicItems"
              :class="{ 'checked': img.checked }">
              <img :src="img.thumbnail" />
              <div class="summary" @click="img.checked = !img.checked">
                <div v-if="img.summary && img.summary!= ''"><span>{{ img.summary }}</span></div>
                <div><a href="javascript:;" @click="openLinkExternal(img.post_url)">{{ img.date }}</a></div>
              </div>
              <div class="checkbox">
                <el-checkbox v-model="img.checked"></el-checkbox>
              </div>
            </div>
            <div style="margin-top: 7px;">
                <el-button type="primary" v-if="favouriteDownload.nextPage" @click="getFavouriteDownloadNextPage">加载更多</el-button>
            </div>
          </div>

          <div class="bottom"     
            v-if="favouriteDownload.favouriteImages.length > 0">
            <el-checkbox
              :disabled="favouriteDownload.downloadAll"
              :value="favouriteDownloadAllChecked" 
              @input="favouriteDownloadCheckAll">当前全选</el-checkbox>
            <el-checkbox 
              v-model="favouriteDownload.downloadAll">下载所有收藏</el-checkbox>
            <el-button
              style="float:right;"
              @click="downloadFavouriteDownload"
              type="primary">下载</el-button>
            <el-button
              style="float:right; margin-right: 10px;"
              @click="resumeDownload('favourite')"
              type="text">恢复下载</el-button>
          </div>

          <el-dialog
            :title="'分析下载信息中'"
            :visible.sync="favouriteDownload.favouriteDownloadLoadingDialog"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            :show-close="false"
            width="500px">
            <span>
              <i class="el-icon-loading"></i>
              <span>{{ favouriteDownload.downloadAllLoadingText }}</span>
            </span>
          </el-dialog>
        </div>
      </el-tab-pane>
      <el-tab-pane label="用户下载" name="userDownload">
        <div style="padding-top: 50px;">
          <div style="
            background:#FFF;
            padding: 0px 10px;
            left: 0;
            right: 0;
            position: fixed;
            padding: 10px 0;
            margin-top: -60px;
            z-index: 1;
            box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 1px 0 rgba(0,0,0,0.12)">
            <el-input placeholder="(https://)?*(.tumblr.com)?"
              v-model="userDownload.userDownloadUrlInput"
              @keyup.enter.native="getUserPics">
              <el-button slot="append" 
                @click="getUserPics"
                icon="el-icon-search"></el-button>
            </el-input>
          </div>

          <div style="
            min-height: 400px;
            text-align: center;
            margin-top: 5px;
            font-size: 0;
            padding-bottom: 70px;" v-loading.fullscreen.lock="userDownload.gettingUserDownloadImages">
            <div v-for="img in userDownload.userImages" class="userDownloadPicItems" :class="{ 'checked': img.checked }">
              <img :src="img.thumbnail" />
              <div class="summary" @click="img.checked = !img.checked">
                <div v-if="img.summary && img.summary!= ''"><span>{{ img.summary }}</span></div>
                <div><a 
                  href="javascript:;" @click="openLinkExternal(img.post_url)">{{ img.date }}</a></div>
              </div>
              <div class="checkbox">
                <el-checkbox v-model="img.checked"></el-checkbox>
              </div>
            </div>
            <div style="margin-top: 7px;">
                <el-button type="primary" v-if="userDownload.nextPage" @click="getUserPicsNextPage">加载更多</el-button>
            </div>
          </div>

          <div class="bottom"     
            v-if="userDownload.userImages.length > 0">
            <el-checkbox
              :disabled="userDownload.downloadAll"
              :value="userDownloadAllChecked" 
              @input="userDownloadCheckAll">当前全选</el-checkbox>
            <el-checkbox 
              v-model="userDownload.downloadAll">
              下载该博客所有图片与视频
            </el-checkbox>
            <el-button
              style="float:right;"
              @click="downloadUserDownload"
              type="primary">下载</el-button>
            <el-button
              style="float:right; margin-right: 10px;"
              @click="resumeDownload('user')"
              type="text">恢复下载</el-button>
          </div>

          <el-dialog
            :title="'分析下载信息中'"
            :visible.sync="userDownload.userDownloadLoadingDialog"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            :show-close="false"
            width="500px">
            <span>
              <i class="el-icon-loading"></i>
              <span>{{ userDownload.downloadAllLoadingText }}</span>
            </span>
          </el-dialog>
        </div>
      </el-tab-pane>
      <el-tab-pane label="下载管理" name="downloadManager">
        <div>
          <div v-for="(item, index) in showDownloadQueue" class="download-item">
            <template>
              <i class="el-icon-check" v-if="item.status == 'completed'"></i>
              <i class="el-icon-warning" v-if="item.status == 'error'"></i>
              <i class="el-icon-download" v-if="item.status == 'downloading'"></i>
            </template>
            <div style="margin-left: 45px">
              <div class="title">{{ item.folder }} - {{ getFileName(item.src) }}</div>
              <div class="summary">
                <span class="time">{{ item.add_time }}</span>
                &nbsp;&nbsp;
                <span :class="item.status">{{ item.status }}</span>
                &nbsp;&nbsp;
                <a href="javascript:;" @click="openLinkExternal(item.post_url)">原帖地址</a>
                &nbsp;&nbsp;
                <a href="javascript:;" @click="openLinkExternal(item.src)">原图地址</a>
                &nbsp;&nbsp;
                <a href="javascript:;" 
                  @click="downloadManager.downloadQueue.splice(index, 1)"
                  v-if="item.status != 'downloading'">删除此任务</a>
              </div>
            </div>
          </div>
          <div 
            v-if="downloadManager.downloadQueue.length == 0"
            style="font-size: 14px;
            text-align: center;
            line-height: 100px;">
            这里暂时空空如也。
          </div>

          <div class="bottom"     
            v-if="downloadManager.downloadQueue.length > 0">
            <el-button
              style="float:right;"
              @click="removeDownloaded"
              type="primary">清空已完成</el-button>

            第 <el-input-number size="mini" 
              :min="1"
              :max="Math.ceil(downloadManager.downloadQueue.length / 200)"
            v-model="downloadManager.pageIndex"></el-input-number> 页
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="我关注的" name="followingUser">
        <div class="not-login" v-if="!user.name">
          <div>你还没有连接 Tumblr 账号，没法显示自己的关注哦。</div>
          <el-button
            class="tumblr-login-button"
            type="primary"
            @click="activeTab = 'settings'"
            :disabled="!!user.name"
            >
            Login With Tumblr
          </el-button>
        </div>
        <div
          v-else
          style="padding-bottom: 70px;" 
          v-loading.fullscreen.lock="followingUser.gettingFollowing">
          <div v-for="(user, index) in followingUser.userFollowing"  class="user">
            <div>
              <el-button
                class="tumblr-login-button"
                style="float:right;"
                type="primary"
                @click="activeTab = 'userDownload', userDownload.userDownloadUrlInput = user.name, getUserPics()"
                >
                备份他的博客
              </el-button>
              <div class="title">{{ user.title }}</div>
              <div class="summary">
                <a href="javascript:;" @click="openLinkExternal(user.url)">{{ user.url }}</a>
              </div>
            </div>
          </div>
          <div style="margin-top: 7px; text-align: center;" v-if="followingUser.nextPage">
              <el-button type="primary" @click="getFollowingUserNextPage">加载更多</el-button>
          </div>

          <div 
            v-if="followingUser.userFollowing.length == 0"
            style="font-size: 14px;
            text-align: center;
            line-height: 100px;">
            暂无关注
          </div>

          <!-- <div class="bottom"
            v-if="followingUser.userFollowing.length > 0">
            <el-button
              style="float:right;"
              @click="downloadUser(followingUser.userFollowing)"
              type="primary">下载全部已关注人的图片及视频</el-button>
          </div> -->
          <el-dialog
            :title="'分析下载信息中'"
            :visible.sync="followingUser.followingUserLoadingDialog"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            :show-close="false"
            width="500px">
            <span>
              <i class="el-icon-loading"></i>
              <span>{{ userDownload.downloadAllLoadingText }}</span>
            </span>
          </el-dialog>
        </div>
      </el-tab-pane>
      <el-tab-pane label="设置" name="settings">
        <el-form label-width="80px" style="margin: 0 20px;">
          <el-form-item label="下载路径">
            <el-input :disabled="true" v-model="settings.savePath" >
              <el-button slot="append" icon="el-icon-more-outline
              " @click="showSaveDialog"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item label="连接账号">
            <el-button
              class="tumblr-login-button"
              type="primary"
              @click="generateLoginPage"
              :disabled="!!user.name"
              >
              <i class="el-icon-loading" v-if="settingPage.generatingLoginPage"></i>
              Login With Tumblr
            </el-button>
            <span
              class="logged-in"
              v-if="user.name"
              style="margin-left: 20px;">连接成功 用户：{{ user.name }}</span>
            <div class="error-info" v-if="settingPage.tumblrLoginError">{{ settingPage.tumblrLoginError }}</div>
          </el-form-item>
          <el-form-item label="语言">
            <el-input :disabled="true" v-model="settings.savePath" >
            </el-input>
            <!-- <el-select v-model="value" placeholder="请选择">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select> -->
          </el-form-item>
          <el-form-item label="API_KEY">
            <el-input v-model="settings.API_KEY" >
              <template slot="append">
                <a href="javascript:;" @click="settingPage.showAPIChange = true"><i class="el-icon-question"></i></a>
              </template>
            </el-input>
          </el-form-item>
          <el-form-item label="API_Secret">
            <el-input v-model="settings.API_Secret" >
              <template slot="append">
                <a href="javascript:;" 
                  @click="settingPage.showAPIChange = true"><i class="el-icon-question"></i></a>
              </template>
            </el-input>
          </el-form-item>
          <el-form-item label="注意">
            Tumblr 官方限定每小时只能发送1000次请求，每日只能发送5000次请求，因此，每小时只能备份最多 20000 份 tumblr 贴，否则可能会被限制使用。
            超过 20000 份帖子的汤博主无法使用一次下载所有图片的备份方式，善用选择下载。
            请活用更换API_KEY与API_Secret来进行备份。
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="saveSettings">保存</el-button>
          </el-form-item>
        </el-form>
        <el-dialog
          title="修改API_Key与API_Secret"
          :visible.sync="settingPage.showAPIChange"
          width="90%">
          <div>
            <p>由于 Tumblr 官方限制，每小时最多发送1000次请求，每24小时做多发送5000次请求，每次请求最大20条帖，即每小时只能最多获取20000条帖的图片与视频，每24小时做多只能获取10万条贴的内容。</p>
            <p>由于这个小工具暂时只内嵌了一个应用的Key，大家共享的情况下，很快次数就会被枯竭。</p>
            <p>但是我们可以通过自己的Tumblr账号创建一个自己的应用Key以保证独享下载。</p>
            <p>1. 打开 <a href="javascript:;" @click="openExternal('https://www.tumblr.com/oauth/register')">https://www.tumblr.com/oauth/register</a></p>
            <p>2. 如下图填写</p>
            <div>
              <img style="max-width: 100%" src="img/register_1.png" alt="">
            </div>
            <p>粘贴网址在这里：</p>
            <div>
              <code>https://works.xingoxu.com/tumblr-backup/authorize.html</code>
            </div>
            <p>3. 按下注册后跳转至如下图页面，请按如图复制</p>
            <div>
              <img style="max-width: 100%" src="img/register_2.png" alt="">
            </div>
            <div>
              <img style="max-width: 100%" src="img/register_3.png" alt="">
            </div>
            <p>4. <strong>点击保存！！！</strong></p>
            <p>5. 重启软件，重新连接账号即可</p>
          </div>
        </el-dialog>
      </el-tab-pane>
      <el-tab-pane label="日志" name="logs">
        <code 
          style="white-space: pre-line;"
          ref="consoleDiv"></code>
      </el-tab-pane>
    </el-tabs>
    <el-dialog
      class="donate"
      title="好用吗？"
      :visible.sync="showDonate"
      width="600px">
      <div>
        <p>这款小工具解决了你的需求了吗？</p>
        <p>
          如果出现什么问题欢迎直接跟我联系！
        </p>
        <p>如果觉得好用欢迎给我点个<a href="javascript:;" @click="openLinkExternal('https://github.com/xingoxu/tumblr-backup')">星星</a>！</p>
        <p>或者你也可以关注我的<a href="javascript:;" @click="openLinkExternal('https://www.weibo.com/1804320382/')">微博</a>、<a href="javascript:;" @click="openLinkExternal('https://twitter.com/xingoxu')">Twitter</a>、或者 <a href="javascript:;" @click="openLinkExternal('https://github.com/xingoxu')">github</a>，又或是告诉身边的朋友（虽然是一次性工具）以支持我这几天的努力！</p>

        <p>还觉得不够意思？</p>
        <p>可以请我喝一杯一点点</p>
        <img style="max-width: 100%" src="img/1544186804494.jpg" alt="">
      </div>
    </el-dialog>
  </div>
  <script src="js/vue.js"></script>
  <script>
    window.jQuery = window.$ = require('./js/jquery-3.3.1.js');
  </script>
  <script src="js/element.js"></script>
  <script src="js/index.js"></script>
</body>

</html>