<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tumblr Backup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/element.css" />
</head>

<body>
  <div id="app">
    <el-tabs v-model="activeTab" @tab-click="handleTabClick">
      <el-tab-pane label="我的收藏" name="favouriteDownload">
        
      </el-tab-pane>
      <el-tab-pane label="用户下载" name="userDownload">
        <div>
          <div style="margin: 0 10px;">
            <el-input placeholder="(https://)?*(.tumblr.com)?" v-model="userDownload.userDownloadUrlInput">
              <el-select v-model="userDownload.userDownloadTypeSelect" slot="prepend" placeholder="请选择" style="width: 100px">
                <el-option v-for="(label, key) in userDownload.userDownloadTypeSelectOptions" :key="key" :label="label" :value="key"></el-option>
              </el-select>
              <el-button slot="append" 
                @click="getUserPics"
                icon="el-icon-search"></el-button>
            </el-input>
            
          </div>

          <div style="
            min-height: 400px;
            text-align: center;
            margin-top: 5px;
            font-size: 0;
            padding-bottom: 70px;" v-loading="userDownload.gettingUserDownloadImages">
            <div v-for="img in userDownload.userImages" class="userDownloadPicItems" :class="{ 'checked': img.checked }">
              <img :src="img.src" />
              <div class="summary" @click="img.checked = !img.checked">
                <div v-if="img.summary && img.summary!= ''"><span>{{ img.summary }}</span></div>
                <div><a :href="img.post_url" target="_blank">{{ img.date }}</a></div>
              </div>
              <div class="checkbox">
                <el-checkbox v-model="img.checked"></el-checkbox>
              </div>
            </div>
            <div style="margin-top: 7px;">
                <el-button type="primary" v-if="userDownload.nextPage" @click="getUserPicsNextPage">加载更多</el-button>
            </div>
          </div>

          <div class="bottom"     
            v-if="userDownload.userImages.length > 0">
            <el-checkbox
              :value="userDownloadAllChecked" 
              @input="userDownloadCheckAll">当前全选</el-checkbox>
            <el-checkbox 
              v-model="userDownload.downloadAll">下载该博客所有{{ userDownload.userDownloadTypeSelectOptions[userDownload.userDownloadTypeSelect] }}</el-checkbox>
            <el-button
              style="float:right;"
              type="primary">下载</el-button>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="下载管理" name="downloadManager">

      </el-tab-pane>
      <el-tab-pane label="设置" name="settings">
        <el-form label-width="80px" style="margin: 0 10px;">
          <el-form-item label="下载路径">
            <el-input :disabled="true" v-model="settings.savePath" >
              <el-button slot="append" icon="el-icon-more-outline
              " @click="showSaveDialog"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item label="连接账号">
            <el-button
              class="tumblr-login-button"
              type="primary"
              @click="generateLoginPage"
              :disabled="user.name"
              >
              <i class="el-icon-loading" v-if="settingPage.generatingLoginPage"></i>
              Login With Tumblr
            </el-button>
            <div class="logged-in" v-if="user.name">{{ user.name }}</div>
            <div class="error-info" v-if="settingPage.tumblrLoginError">{{ settingPage.tumblrLoginError }}</div>
          </el-form-item>
          <el-form-item label="API_KEY">
            <el-input v-model="settings.API_KEY" >
              <template slot="append">
                <a href="javascript:;"><i class="el-icon-question"></i></a>
              </template>
            </el-input>
          </el-form-item>
          <el-form-item label="API_Secret">
            <el-input v-model="settings.API_Secret" >
              <template slot="append">
                <a href="javascript:;"><i class="el-icon-question"></i></a>
              </template>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="saveSettings">保存</el-button>
            
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="日志" name="logs">
      </el-tab-pane>
    </el-tabs>
  </div>
  <script src="js/vue.js"></script>
  <script src="js/element.js"></script>
  <script src="js/index.js"></script>
</body>

</html>